<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Moodle Bulk Upload Enroll Unenroll Tool</title>

  <link rel='stylesheet prefetch'
    href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <script src="js/ga.js"></script>
  <style>
    div#xmlOutput,
    .scroll {
      width: 100%;
      height: 400px;
      word-wrap: break-word;
      overflow-y: scroll;
    }

    input {
      /* width: 95%; */
    }

    #dwn-unenroll-csv,
    #dwn-enroll-csv {
      width: auto;
    }
  </style>
</head>

<body>
  <div class="container" id="app">
    <h1>{{appTitle}}</h1>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <label for="emails">Emails:</label>
        <textarea id="emails" v-model="emails" class="form-control" rows="6"
placeholder="noreply@demo.com
noreply2@demo.com
          
Separate emails with new lines, these will become the usernames as well. 
Automatically converted to lower case."></textarea>
        <label for="names">Names:</label>
        <textarea id="names" v-model="names" class="form-control" rows="5"
placeholder="Separate first and last names with a space or comma.

First name Last Name
Last Name, First Name"></textarea>
         <input type="checkbox" id="capital" v-model="capitalFirstLetter">
        <label for="capital">Capitalize First Letter of first and last name</label>
        <hr>
        <label for="password" class="d-block">Password:</label>
        <input id="password" v-model="password" class="w-100" placeholder="password applied to all users">
        <label for="description" class="d-block">Description (optional):</label>
        <input id="description" v-model="description" class="w-100" placeholder="description pplied to all users">

        <!-- <label for="userids">User Org ID Numbers (optional):</label>
        <textarea id="userids" class="form-control" rows="5"
          placeholder="User Org ID go here separated by new lines"></textarea> -->
        <label for="courseIds">Course Short Names</label>
        <textarea id="courseIds" v-model="courses" class="form-control" rows="5"
placeholder="course1-short-name
course2-short-name

Courses to enroll all users, separated on a new line"></textarea>
        <label for="role" class="d-block">Role:</label>
        <input id="role" v-model="role" class="w-100" placeholder="Role Name (ex. Learner, Student, or Teacher)">
      </div>
      <div class="col-sm-8">
        <label for="enrollOutput">Enroll (click to select all):</label>
        <div class="scroll" id="enrollOutput">{{enrolldisplay}}</div><br>
        <input v-on:click="downCSV" type="button" id="dwn-enroll-csv" value="Download enroll.csv" />
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var app6 = new Vue({
      el: "#app",
      data: {
        appTitle: "Moodle Bulk Upload and Enroll",
        emails: "",
        names: "",
        password: "",
        description: "",
        role: "",
        courses: "",
        capitalFirstLetter: true
      },
      computed: {
        csvOutput: function () {
          return this.csvLoop();
        },
        previewOutput: function () {
          return this.previewLoop();
        },
        enrolldisplay: function () {

          return this.csvOutput()
        },
        usertest: function () {
          return this.userList()//delete TODO
        }
      },
      methods: {
        csvOutput: function () {
          let csv = []
          let csvRow = []
          let arrEmails = this.emails.toLowerCase().split("\n")
          let arrUserList = this.userList()
          let arrCourseList = this.courses.split("\n")
          let enrollList = ""
          let firstName = ""
          let lastName = ""
          csvRow.push("username", "password", "firstname", "lastname", "description", "email")
          
          if(this.courses != ""){
          arrCourseList.forEach((course, indexCourse) => {
            csvRow.push("course" + (indexCourse + 1), "role" + (indexCourse + 1))
          });
          }
          csv.push(csvRow.toString())
          csvRow = []
          if(this.emails != ""){
          arrEmails.forEach((email, indexEmail) => {
            if(this.names != ""){
            if (this.capitalFirstLetter === true) {
              firstName = arrUserList[indexEmail].first_name
              firstName = firstName[0].toUpperCase() + firstName.slice(1)
              lastName = arrUserList[indexEmail].last_name
              lastName = lastName[0].toUpperCase() + lastName.slice(1)
            } else {
              firstName = arrUserList[indexEmail].first_name
              lastName = arrUserList[indexEmail].last_name
            }
            }
            csvRow.push(email, this.password, firstName, lastName, this.description, email)
            if(this.courses != ""){
            arrCourseList.forEach((course, indexCourse) => {
              csvRow.push(course, this.role)
            });
            }
            csv.push(csvRow.toString())
            csvRow = []
          });
          }
          return csv.join('\n')
        },
        userList: function () {
          let splitusers = [];
          let userlist = this.names.split("\n"); //splits text area by line
          userlist.forEach(function (item, index) {
            if (item != "") {
              //if each line item isn't blank
              userlist.splice(index, 1, item.trim()); //trims the spaces before and after each full name
              if (item.includes(",")) {
                //if last name comes first with a comma
                let user = item.trim().split(/,/); //split user by comma
                let firstname = user[1].trim(); //first name is everything after the comma
                let lastname = user[0].trim(); //last name is first item in array
                splitusers.push({ first_name: firstname, last_name: lastname }); // push user object into array
              } else {
                let user = item.trim().split(/ +/); //split names by one or more space
                let firstname;
                if (user.length > 2) {
                  //if user length is more than 2 then there are middle names
                  firstname = user.slice(0, user.length - 1).join(" "); // add middle names to first name field
                } else {
                  firstname = user[0]; // no middle names to first element is first name
                }
                let lastname = user.length > 1 ? user[user.length - 1] : ""; //last name is the last in the array
                splitusers.push({ first_name: firstname, last_name: lastname }); //push user object into array
              }
            }
          });
          return splitusers;
        },

        downCSV: function () {
          let text = this.csvOutput();
          let d = new Date();
          let filename = "moodle upload " + d.toDateString() + ".csv";
          download(filename, text);
        }
      }
    });
    function download(filename, text) {
      var element = document.createElement("a");
      element.setAttribute(
        "href",
        "data:text/plain;charset=utf-8," + encodeURIComponent(text)
      );
      element.setAttribute("download", filename);
      element.style.display = "none";
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    }
  </script>
</body>

</html>